<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Dribbble Viewer</h2>
    <div class="list card" data-ng-repeat="image in imageList">
      <div class="item item-avatar">
        <img ng-src="{{image.user.avatar_url}}">
        <h3>{{image.user.username}}</h3>
        <p>{{image.user.location}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="{{image.images.hidpi}}">
      </div>

      <a class="item item-icon-left assertive" target="_blank"data-ng-href="{{image.html_url}}">
        <i class="icon ion-music-note"></i>
        Visit Original Image
      </a>

    </div>
  </ion-content>
</ion-view>
